<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Trade</th>
            <th>Material</th>
            <th>Cost code</th>
            <th>Price</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let construction of constructions$ | async" >
            <td>{{ construction.id }}</td>
            <td>{{ construction.trade }}</td>
            <td>{{ construction.material }}</td>
            <td>{{ construction.cost_code }}</td>
            <td>{{ construction.price }}</td>
            <td>{{ construction.active }}</td>
            <td><button (click)="onDelete(construction)" >delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
